extends _base.pug

block head
		title #{locale.blogTitle}

mixin post(post)
	.item
		.content
			.header
				h3
					a(href=resolve('/post/'+post.url[0])) #{post.title}
			.description
				| #{post.view}
				a(href=resolve('/post/'+post.url[0])) #{dict.readMore}
			.extra
				.ui.tag.labels
					each tag in post.tags
						.ui.label #{tag}

block body
		.ui.items
			each post in posts
				+post(post)
